*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.aside{
    background-color: aqua;
    flex-grow: 1;
}
.general-container{
    display: flex;
    min-height: 100vh;
}
.view-container{
    flex-grow: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    flex-direction: column;
}